/* Footer.css */

/* Existing Footer styles */
.footer {
  flex-shrink: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer a {
  color: #b36e00;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer-logo {
  display: block;
  margin: 0px auto 0;
  max-width: 100px;
  height: auto;
}

/* Styling for the "How it works" button */
.how-it-works-button {
  background: var(--button-bg-gradient); /* Use gradient from button styles */
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
  margin-top: 10px;
  display: inline-block;
}

.how-it-works-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(108, 92, 231, 0.3);
  background-color: #fda766; /* Slightly lighter background on hover */
}

.how-it-works-button:active {
  transform: translateY(1px); /* Slightly press down when clicked */
}

.how-it-works-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(240, 165, 0, 0.5); /* Focus effect with a glow */
}

/* Styling for the "How it works" section */
.how-it-works {
  max-width: 66.67%;
  margin: 40px auto;
  padding: 0 20px;
}

.how-it-works h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: 'Horizon'; /* Same font-family as .information */
  font-weight: normal;  /* Ensure consistent font weight */
}

.how-it-works p {
  line-height: 1.6;
  color: inherit;
  font-size: 1.1rem;
  font-family: 'GothamLight'; /* Same font-family as .information */
}

.how-it-works ul {
  list-style-type: disc; /* Bullet points */
  padding-left: 20px; /* Proper indentation for list */
}

.how-it-works li {
  font-size: 1.1rem;
  margin: 10px 0;
  font-family: 'GothamLight'; /* Same font-family as .information */
  line-height: 1.6; /* Ensure the line-height is consistent */
}

@media (max-width: 768px) {
  .how-it-works h2 {
    font-size: 1.5rem;
  }

  .how-it-works p, .how-it-works li {
    font-size: 1rem;
  }
}
